<div class="span3" style="position: fixed">
	<img class="img-polaroid" height="140" width="140" src="http://media3.vindy.com/ellington_defaults/images/avatars/blank_avatar_240x240.gif" />
	<a href="#" class="pull-left">change profile picture</a>
	<textarea style="margin-left: -5px; margin-top: 8px; min-width: 180px; max-width: 180px; height: 84px;"></textarea>
	<button id="post-message" class="btn btn-primary" type="button">Post Message</button>
	<h6>post to</h6>
	<label class="checkbox">
	<input id="post-twitter" type="checkbox" value="">
		twitter
	</label>
	<label class="checkbox">
	<input id="post-facebook" type="checkbox" value="">
		facebook
	</label>
</div>
<div class="row">
	<div id="river" class="span8 offset3" >
		<!-- intro.html or dwibble.html --!>
	</div>
</div>
