<ul class="nav pull-right">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">hello, {{email}}<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a>settings</a></li>
			<li class="divider"></li>
			{{#services.twitter}}
			<li><a href="#">twitter - {{services.twitter}}</a></li>
			{{/services.twitter}}
			{{^services.twitter}}
			<li><a href="/auth/twitter/" id="add-twitter-feed">add twitter feed</a></li>
			{{/services.twitter}}
			{{#services.facebook}}
			<li><a href="#">facebook - {{services.facebook}}</a></li>
			{{/services.facebook}}
			{{^services.facebook}}
			<li><a href="/auth/facebook/" id="add-facebook-feed">add facebook feed</a></li>
			{{/services.facebook}}
			<li><a id="add-google-feed">add google+ feed (coming soon...)</a></li>
			<li><a>add rss feed (coming soon...)</a></li>
			<li class="divider"></li>
			<li><a href="/" id="logout">logout</a></li>
		</ul>
	</li>
</ul>
