<ul class="nav pull-right">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">hello, {{email}}<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a>settings</a></li>
			<li class="divider"></li>
			{{#twitter}}
				<li><a href="#">twitter - {{username}}</a></li>
			{{/twitter}}
			{{^twitter}}
				<li><a href="/auth/twitter/" id="add-twitter-feed">add twitter feed (coming soon...)</a></li>
			{{/twitter}}
			<li><a id="add-facebook-feed">add facebook feed</a></li>
			<li><a id="add-google-feed">add google+ feed</a></li>
			<li><a>add rss feed (coming soon...)</a></li>
			<li class="divider"></li>
			<li><a href="#" id="logout">logout</a></li>
		</ul>
	</li>
</ul>
