<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>dwibbles</title>
  </head>
  <body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand">dwibbles</a>
					<div id="account" class="pull-right form-inline">
						<!-- account.html or login.html --!>
					</div>
				</div>
			</div>
		</div>
		<div style="padding-top: 90px">
			<div id="dashboard" class="container">
				<!-- intro.html or home.html --!>
			</div>
		</div>
  </body>
</html>
