<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>dwibbles</title>
  </head>
  <body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand">dwibbles</a>
					<div id="account" class="pull-right form-inline">
						<!-- account.html or login.html --!>
					</div>
				</div>
			</div>
		</div>
		<div style="padding-top: 60px">
			<div class="container">
				<div id="dashboard">
					<div class="span3" style="position: fixed">
						<img class="img-polaroid" height="140" width="140" src="http://media3.vindy.com/ellington_defaults/images/avatars/blank_avatar_240x240.gif" />
						<span><a href="#" class="pull-left">change profile picture</a></span>
					</div>
					<div class="row">
						<div id="river" class="span8 offset3" >
							<!-- dwibble.html --!>
						</div>
					</div>
				</div>
			</div>
		</div>
  </body>
</html>
